@font-face {
  font-family: "PTSans";
  src: url("/assets/fonts/PTSans-Regular.woff2") format("woff2"),
  url("/assets/fonts/PTSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
 }

 @font-face {
  font-family: "PTSans";
  src: url("/assets/fonts/PTSans-Bold.woff2") format("woff2"),
  url("/assets/fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
 }

 @font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Regular.woff2") format("woff2"),
  url("/assets/fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
 }

 @font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Black.woff2") format("woff2"),
  url("/assets/fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
 }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}


body {
  font-family: 'PTSans', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #585858;
}


/* Container
================ */
.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header
================= */
.header {
  height: 85px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigatein Bar
================== */
.nav {
  height: 100%;
  display: flex;
  font-size: 15px;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: #fff;
  text-decoration: none;
}

.nav__link.active {
  background-color: #004AF2;
}